.waha-copy {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    display: flex;
    flex: 1 1 auto;
}



section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

header h2 {
    display: flex;
    align-items: center;
}

header h2 img {
    width: 32px;
    height: auto;
    margin-right: 10px;
}

h2 {
    margin-top: 0;
}



span.tag {
    padding: 5px;
    border-radius: 10px;
    text-transform: capitalize;
}

#sidebar-links img {
    width: 45px;
    height: 45px;
}


.stratagem {
    background-color: blue;
}

.unit-model {
    background-color: green;
}

.ability {
    background-color: #ff5673;
}

.detachment {
    background-color: red;
}

.enhancement {
    background-color: orange;
}

li:not(:last-child) {
    margin-bottom: 15px;
    /* list spacing */
}

p {
    margin: 0;
}



.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.grid>div {
    border: 1px solid;
    padding: 8px;
}

.grid>div:nth-child(1),
.grid>div:nth-child(2) {
    background-color: rgb(64, 64, 64)
}

section:nth-child(even) {
    background-color: rgb(35, 35, 35)
}


@media (max-width: 426px) {
    .grid {
        grid-template-columns: 1fr;
        /* Stack items in a single column */
    }

    .grid>div:nth-child(odd) {
        order: 1;
        /* Odd items appear first */
    }

    .grid>div:nth-child(even) {
        order: 2;
        /* Even items appear second */
    }

}


@media (max-width: 1024px) {
    section {
        padding-left: 180px;
        padding-right: 40px;
    }
}

@media (max-width: 958px) {
    aside {
        display: none
    }

    section {
        padding-left: 15px;
        padding-right: 15px;
    }
}